name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: echo "GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}" > assets/env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Install FlutterFire CLI
        run: dart pub global activate flutterfire_cli

      - name: Add Dart to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - name: Configure Firebase
        run: flutterfire configure --project=familyledger-8c235 --platforms=web --yes
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release --no-tree-shake-icons

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting --token "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
